@import url(reset.css);

*{
   color: #421104;
}
span{
   color: #EBD2CB;
}
.link{
   color: #B66954;
}
#date{
   color: #F43D0B;
}
div.text{
   color: #153DF0;
}
.lesson.text{
   color: #F43D0B;
}
.title,
.titles{
   color: #AB958F;
}
.texts p{
   color: #576BC7;
}
.task .lessons{
   color: #EABEB2;
}
.assignment * {
   color: #BA2D07;
}
.mark>p{
   color: #A29F9E;
}
.target~p{
   color: #F43D0B;
}
.target+p{
   color: #A0B0F7;
}
[class*="__container"]{
   color: #21911d;
}
